.contact_card {
    background-color: #F5DFBC;
    height: 15vh;
    border-radius: 5px;
    box-shadow: 0 0 3px gray;
    margin-bottom: 2vh;
    display: flex;
}
.contact_card_img {
    height: 100%;
    border-radius: 5px 0 0 5px;
}
.contact_card_info {
    padding-top: 1vh;
    padding-left: 3vw;
    color: #9D390E;
}
.contact_card_role {
    font-size: 12px;
    font-weight: 600;
    margin-top: 1vh;
    margin-bottom: 0.5vh;
}
.contact_card_p {
    font-size: 13px;
    font-weight: 400;
    color: rgb(49, 49, 49);
}

@media only screen and (min-width: 600px) {
    .contact_card {
        height: 8vh;
        width: 45%;
        margin: 1vh 2vw;
    }
    .contact_card_info {
        padding-left: 1.7vw;
    }
    .contact_card_role {
        margin-top: 0;
        margin-bottom: 0;
    }
    .contact_card_p {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1024px) {
    .contact_card {
        height: 14vh;
        width: 27%;
    }
    .contact_card_info {
        padding-left: 1vw;
    }
    .contact_card_role {
        margin-top: 1.5vh;
        font-size: 16px;
    }
    .contact_card_p {
        font-size: 16px;
    }
}