.blog_main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 96%;
}
.blog_top {
    display: flex;
    align-items: center;
    margin-top: 1vh;
}
.blog_icon {
    padding-top: 10vh;
    width: 40px;
}
.blog_company {
    padding-top: 10vh;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 300;
    color: red;
}
.blog_bottom p {
    font-size: 10px;
    font-weight: 400;
    color: red;
}
.blog_paginator {
    margin-top: 2vh;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    color: white;
}
.blog_cards {
    width: 100%;
    height: 71%;
    margin-top: 3vh;
    overflow-y: auto;
    padding: 2px;
}

@media only screen and (min-width: 600px) {
    .blog_icon {
        width: 60px;
    }
    .blog_company {
        font-size: 30px;
    }
    .blog_bottom p {
        font-size: 14px;
    }
    .blog_cards {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 1024px) {
    .blog_company, .blog_bottom p {
        color: white;
    }
}