.blog_card {
    background-color: rgba(255, 166, 0, 0.836);
    margin-top: 2vh;
    margin-bottom: 10px;
    height: 11vh;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(156, 20, 20, 0.795);
    padding: 10px;
    position: relative;
}
.blog_card_icon {
    position: absolute;
    right: 7px;
    top: -3px;
    width: 30px;
}
.blog_card_text {
    font-size: 13px;
    height: 8vh;
    width: 85%;
    color: white;
    font-weight: 300;
}
.blog_card_date {
    position: absolute;
    right: 10px;
    bottom: 7px;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

@media only screen and (min-width: 600px) {
    .blog_card {
        width: 40%;
        margin: 1vh 2vw;
    }
}

@media only screen and (min-width: 1024px) {
    .blog_card {
        width: 25%;
        padding: 2vh 1vw;
    }
    .blog_card_text {
        font-size: 18px;
    }
    .blog_card_date {
        font-size: 16px;
        bottom: 2vh;
        right: 1vw;
    }
}
