.hero_slide {
    position: absolute;
    height: 100vh;
    top: -50vh;
    padding: 0;
    z-index: -1;
}
.hero_slide_background {
    position: absolute;
    height: 100%;
    object-fit: fill;
}
.hero_slide_title, .hero_slide_legend{
    position: relative;
    color: white;
    margin-bottom: 10px;
    padding: 0 5vw 0 5vw;
}
.hero_slide_title {
    font-weight: 400;
    margin-top: 60vh;
}
.hero_slide_legend {
    color: white;
    text-align: justify;
}

@media only screen and (min-width: 600px) {
    .hero_slide_title {
        font-size: 40px;
    }
    .hero_slide_legend {
        font-size: 25px;
        width: 80%;
    }
}

@media only screen and (min-width: 1024px) {
    .hero_slide_background {
        width: 100vw;
        /* height: auto; */
    }
    .hero_slide_legend {
        margin-top: 2vh;
        width: 60%;
    }
}